.error   {
    color: red;
}

.editline {
    font-family: monospace;
}

.lines   {
    font-family: monospace;
    padding: 1em;
    margin: 5em;
    margin: 1em 0;
    background: lightyellow;
    cursor: default;
}

.line {
    position: relative;
    display: block;
}

.current {
    position: relative;
    display: block;
}

.line .info   {
    visibility: hidden;  
    color: black;
    position: absolute;
}

.current .tooltip   {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    z-index: 1;
}


.line:hover .info {
    visibility: visible;
    position: relative;
    padding: 5px 5px;
    border-top: 2px dotted black; 
    font-style: oblique;
    color: darkblue;
}



.redex {
    border-bottom: 2px dotted black;
 }

.redex:hover   {
    cursor: pointer;
}

.redex:hover .tooltip {
    visibility: visible;
}
      
.navbar {
    padding: 0px 5px;
    margin: 5px 5px;
}
